<h1>Edit a todo</h1>

<%= render 'form' %>

<<<<<<< HEAD
<%= link_to "Back to Todos", todos_path %>
=======
<% if @todo.errors.any? %>
<h2>Following errors causes data saving failire</h2>
<ul>

	<% @todo.errors.full_messages.each do |msg| %>
	<li><%= msg %></li>
	<% end %>
	
</ul>

<% end %>

	<p>
		<%= f.label :name%><br>
		<%= f.text_field :name%>
	</p>

	<p>
		<%= f.label :discription%><br>
		<%= f.text_area :discription%>
	</p>

	<p>
		<%= f.submit :create%>
	</p>

	<%= link_to "Back to Todos", todos_path %>

<%end%> 
>>>>>>> 1a36d2a1673677fdbaf1f78e582d3a81e5f80170
